/*Tempoarary borders to show where each element spans*/
/* {
    border: 1px dotted gray;
}
*/
/*Custom font*/
@font-face {
    font-family: odin-custom;
    src: url(Norse-Bold.otf);
} html,body {
    margin: 0;
    height: 100%;
}

/*Left side of screen*/

body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} .left {
    background-image: url("leaves.jpg");
    background-size: 1000px;
    background-position: -100px;
    color: white;
    height: 950px;
    width: 800px;
    position: relative;
} section.left div:first-child {
    font-family: odin-custom;
    font-size: 100px;
} .imgODIN {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    white-space: nowrap;
    width: 100%;
    top: 20%;
} img {
    width: 125px;
} section.left>div:nth-child(2) {
    position: absolute;
    bottom: 1%;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
} a, a:visited {
    color: white;
}

/*Right side of screen*/

/*Section 1*/

/*Custom property; gray background for section 1 and 3*/
:root {
    --rightSectionColor: rgb(240, 240, 240);
    --sectionOneLeftPadding: 50px;
    --sectionOneRightPadding: 100px;
} section.right>section.wrapper:first-child {
    background-color: var(--rightSectionColor);
} section.right>section.wrapper>div:first-child,
section.right>section.wrapper>div:nth-child(2) {
    padding-left: var(--sectionOneLeftPadding);
    padding-right: var(--sectionOneRightPadding);
} section.right>section.wrapper:first-child>div:first-child {
    padding-left: var(--sectionOneLeftPadding);
    padding-right: var(--sectionOneRightPadding);
    padding-top: 130px;
    padding-bottom: 40px;
} section.right>section.wrapper:first-child>div:nth-child(2) {
    padding-bottom: 60px;
} section.right>section.wrapper:first-child,
section.right>section.wrapper:nth-child(2)>div:first-child {
    font-size: 24px;
    font-weight: 600;
}

/*Section 2*/

/*Let's do this!*/
section.right>section.wrapper:nth-child(2)>div:first-child {
    padding-top: 15px;
    padding-bottom: 15px;
} section.right>section.wrapper:nth-child(2) {
    box-shadow: 0px 5px 10px 1px lightgray;
} section.right>section:nth-child(2)>form {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    padding-left: var(--sectionOneLeftPadding);
} label, input {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
} label {
   font-size: 14px;
   font-weight: 600;
   color: darkslategray;
   padding: 10px 0px 0px 0px;
} input {
    font-size: 18px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
} input:focus {
    outline: none !important;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px lightgray;
} #error_message {
    color: white;
    font-size: 14px;
}

/*Section 3*/

button {
    color: white;
    background-color: rgb(64, 122, 64);
    border: none;
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
    margin-left: var(--sectionOneLeftPadding);
    margin-top: 35px;
    margin-bottom: 35px;
}
section.right>section.wrapper:last-child>div {
    font-size: 18px;
    font-weight: 550;
}
/*Already have account text psudo class target span
    Green text
*/
section.right>section.wrapper:last-child>div>span {
    color: green;
}
