/*Tempoarary borders to show where each element spans*/
* {
    border: 1px solid gray;
}
/*Custom font*/
@font-face {
    font-family: odin-custom;
    src: url(Norse-Bold.otf);
} html,body {
    margin: 0;
    height: 100%;
}

/*Left side of screen*/

body {
    display: flex;
} .left {
    background-image: url("leaves.jpg");
    background-size: cover;
    background-position: -100px;
    color: white;
    height: 1000px;
    width: 600px;
} section.left div:first-child {
    font-family: odin-custom,'Courier New', Courier;
    font-size: 100px;
} .imgODIN {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
} img {
    width: 125px;
}
/*Photo credits span
    Underlined
*/
section.left>div:nth-child(2) {
    display: flex;
    justify-content: center;
}

/*Right side of screen*/

/*Section 1*/

/*Custom property
    gray background for section 1 and 3
*/

/*Section 1 wrappper
    custom property background
*/
/*Message 1 wrapper INCLUDING section 2's title text
    Correct font
    Bold
    Disable flex? Or flex column left
*/
/*Message 1 3rd item
    Padding or margin on top and bottom
*/

/*Section 2*/

/*Section 2 wrapper
    White background with shadow
*/
/*Labels
    Probably same font as Message 1 wrapper
    Small size
*/
/*Inputs
    Gray and thin border
    Rounded edges
*/
/*Inputs (psudo class for being selected)
    Blue and thin border
*/
/*Password inputs (use psuedo class; valid or unvalid)
    Red and thin border
*/
/*Password input 1
    Psudo element that adds "passwords do not match"
*/

/*Section 3*/

/*Account button
    Rounded edge
    Green
    White text
*/
/*Already have account text
    Same font family
*/
/*Already have account text psudo class target span
    Green text
*/
